{
	"plugins": ["prettier-plugin-svelte"],
	"useTabs": true,
	"singleQuote": true,
	"trailingComma": "all",
	"printWidth": 100,
	"overrides": [
		{
			"files": ["*.svelte"],
			"options": {
				"bracketSameLine": false
			}
		},
		{
			"files": ["README.md"],
			"options": {
				"useTabs": false,
				"tabWidth": 2
			}
		},
		{
			"files": ["*.html"],
			"options": {
				"printWidth": 160
			}
		},
		{
			"files": [".*"],
			"options": {
				"trailingComma": "none"
			}
		}
	]
}
